@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
@import "bootstrap/dist/css/bootstrap.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  overflow: hidden;
}

.Register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  margin: 15px;
}

.buttonContainer {
  margin-top: 25px;
}

.SignInButton {
  width: 230px;
}

.GoogleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.GoogleContainer p {
  color: white;
  font-weight: bold;
  margin: 30px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e1e;
  padding: 25px;
}

.brand {
  margin-left: 10px;
}

.brand .link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

ul .link {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  margin: 0 20px;
}

.text-field {
  width: 225px;
}

.GoogleContainer p {
  color: black;
}

.showpassbtn {
  margin-left: 20px;
}

.My-Account {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.dvs {
  margin: 40px 0;
}

.SinglePostPage {
  height: 93vh;
  background: #b9f3fc;
  text-align: center;
}

.SinglePostPage h1,
p,
button {
  padding-top: 20px;
}

p {
  font-weight: bold;
  font-size: larger;
}

a {
  font-weight: bold;
}

.comments {
  margin-top: 100px;
}

.HomePage,
.UserPage {
  padding-top: 100px;
  height: 100vh;
  text-align: center;
  background: #b9f3fc;
}

.avatar {
  display: flex;
  justify-content: center;
}
